body{
    background-color: #dfeaed;
}
.about{
    margin: 0 auto;
    text-align: center;

    
}
.img{
    border-radius: 100%;
    border : 3px solid darkcyan;
    width: 140px;
    height: 140px;
    
}
.secDiv{
text-align: justify;
margin: 70px;
font-family: sans-serif;  
}
.text{
    font-size: 12px;
    line-height: 18px;
    font-family: sans-serif;
}
h1{
    font-size: 26px;
    font-weight: 550;
    line-height: 31.2px;
    font-family: sans-serif;
}
